# BusyBox static aarch64 minimal config for thyme first-boot initramfs
#
# Partner source: busybox-1.36.1.tar.gz ( see initramfs/build-initramfs.sh *
# Consumed by: initramfs/build-initramfs.sh   make silentoldconfig on top of this
# fragment file.  The initramfs serves ONLY:  mount/FS, USB gadget + network
# bring-up,  HTTP status,  telnetd shell,  PID1 liveness..
#
# Static build ( no libc dependencies*
CONFIG_STATIC=y
# Install mechanics ( busybox + per-applet symlinks*
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_FEATURE_INSTALLER=y
# Core
CONFIG_BUSYBOX=y
CONFIG_ASH=y
CONFIG_TEST=y
# Shell / text
CONFIG_AWK=y
CONFIG_CAT=y
CONFIG_CUT=y
CONFIG_ECHO=y
CONFIG_GREP=y
CONFIG_HEAD=y
CONFIG_LS=y
CONFIG_PRINTF=y
CONFIG_SED=y
CONFIG_SHA256SUM=y
CONFIG_SORT=y
CONFIG_TAIL=y
CONFIG_TR=y
CONFIG_WC=y
# Filesystem / boot
CONFIG_CP=y
CONFIG_DATE=y
CONFIG_DMESG=y
CONFIG_FALSE=y
CONFIG_HOSTNAME=y
CONFIG_ID=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y
CONFIG_MOUNT=y
CONFIG_PS=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SLEEP=y
CONFIG_SYNC=y
CONFIG_TRUE=y
CONFIG_UMOUNT=y
CONFIG_UNAME=y
CONFIG_UPTIME=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
# Network ( USB ethernet bring-up*
CONFIG_IFCONFIG=y
CONFIG_IP=y
CONFIG_NC=y
CONFIG_NETSTAT=y
CONFIG_PING=y
CONFIG_ROUTE=y
CONFIG_HTTPD=y
CONFIG_TELNETD=y